* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h4, .App p {
  margin: 20px 0;
}

.black-nav {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.list {
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 20px;
}

.list span {
  cursor: pointer;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}